<table cellpadding="0" cellspacing="0" border="0"
       class="datatable table table-striped table-bordered"
       data-source-url="{{ url }}"
       data-actions="{{ actions }}"
       data-status-column="{{ status_column }}"
       data-result-counter-id="{{ result_counter_id }}">
    <thead>
    <tr>
        {% for name, attributes in column_info %}
            {% if name == "DT_status" %}
                <th data-name="{{ name|slugify }}" data-sortable="false" width="18px"></th>
            {% else %}
                <th data-name="{{ name|slugify }}"{{ attributes|safe }}>{{ name|capfirst }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
</table>